*{
	box-sizing: border-box;
	font-family: Helvetica;
	padding: 0 auto;
	margin: 0 auto;
}
/*START OF HEADER*/
header{
	background-color: #B1B1B1;
	width: 0 auto;
}
.linklogo{
	float: left;
	padding-top: 25px;
	padding-left: 10px;
	text-decoration: none;
	color: #000;
}
nav{
    background: #B1B1B1;
    padding-top: 25px;
    padding-right: 10px;
    color: #000;
    font-weight: 600;
    text-align: center;
    float: right;
}
navbar h1 {
    margin: 0;
}
nav > ul {
   padding: 0;
}
nav li{
	padding-top: 7px;
    display: inline-block;
    vertical-align: middle;
	list-style: none;
}
@media (max-width: 767px){
	nav li{
		display: block;
	}
}
nav a{
    color: #000;
    padding: 5px 10px;
    text-decoration: none;
    border: 3px solid transparent;
    transition: 0.3s;
}
nav a:hover{
	color: #fff;
}

input[type="checkbox"] {
    display: none;
}
nav label {    
    display: none;
    border: 3px solid #000; 
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
}
nav label:hover{
    color: #fff;
    border: 3px solid #fff;
}
main{
	clear: both;
	margin-top: 1%;
}
.ourmenu, h2{
	text-align: center;
	padding: 10px;
}
h1.ourmenu {
    margin: 40px;
}
p {
    margin-bottom: 15px;
}
.chicken, .beef, .sushi{
	background-color: #eaebff;
	border: 2px solid #1a1a1a;
	margin-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
}